<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android_arch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".hook.SubActivity" />
        <activity android:name=".hook.Hook2Activity" />
        <activity android:name=".hook.Hook1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aidl.origin.AidlActivity"></activity>
        <activity android:name=".coroutine.CoroutineActivity" />
        <activity android:name=".data_bind.DataBindActivity" />
        <activity android:name=".viewbinding.ViewbindingActivity" />
        <activity android:name=".base_ui.LifeCycle2Activity" />
        <activity android:name=".base_ui.LifeCycleActivity" />
        <activity android:name=".camera2.VideoRecordActivity" />
        <activity
            android:name=".ArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Launcher" />
        <activity
            android:name=".camera.VideoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".camera2.CameraActivity" />

        <service
            android:name=".aidl.origin.RemoteService"
            android:process=":remoteService" />
    </application>

</manifest>